<div class="hero-unit">
  <h1><strong>VINDEMIO</strong></h1>
  <h2>Share and find new wine experiences.</h2>
</div>

<div class="ext">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="quote">
					<h3>How many times have you said: "This is a great bottle of wine! I hope I can remember the name of it"?</h3>
				</div>
			</div>
		</div>
	</div>
</div>