$baseFontFamily: Lato;
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

$color1: #CD4040;
$navbarBackground: $color1;
$navbarBackgroundHighlight: $color1;
$baseBorderRadius: 0px;
$heroUnitBackground: white;

@import 'bootstrap';
@import 'bootstrap-responsive';

@media (max-width: 767px) {
	body {
		padding: 0px;
	}
}

.navbar {
	margin: auto;
}

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.ext {
	width: 100%;
	background-color: $color1;
}

.container {
	padding: 20px;
}

h1, h2, h3, h4, p {
	font-family: 'Lato', sans-serif;
}

.hero-unit {
	margin: 0;
	text-align: center;
	padding: 7% 0;
	h1 {
		font-size: 3.5em;
    font-weight: 400;
	}
	h2 {
		font-size: 1.7em;
    font-weight: 300;
    margin: 1em 0;
    letter-spacing: -.05em;
	}
	strong {
		font-weight: inherit;
	}
}

.quote {
	margin: 0;
	text-align: center;
	color: white;
	h3 {
   font-size: 1.3em;
   font-weight: 300;
   font-style: italic;
	}
}